@font-face {
    font-family: Raleway-Bold; src:url(Raleway-Bold.ttf);
}

@font-face {
    font-family: Raleway-Regular; src: url(Raleway-Regular.ttf);
}

@font-face {
    font-family: LuloClean; src: url(LuloClean.ttf);
}

.cabecalho-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2f2e22;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.Logo a {
    text-decoration: none;
}

.Logo a .Resilia {
    font-family: LuloClean;
    color: #FAD000;
    text-decoration: none;
    font-size: 28px;
}

.Logo .flix {
    font-family: Raleway-Bold;
    font-size: 30px;
    border: solid 2px #FAD000;
    border-radius: 5px;
    padding: 1px 6px 1px 6px;
    color: #2f2e22;
    background: #FAD000;
}

.menu a {
    text-decoration: none;
}

.box {
    border: solid 2px #FAD000;
    border-radius: 5px;
    background: #FAD000;
    margin-left: 30px;
    color: #2f2e22;
    font-family: Raleway-Bold;
    font-size: 15px;
    padding: 2px 6px 2px 6px;
}

.box:hover {
    background: #2f2e22;
    color: #FAD000;
    transition: 0.4s;
}

.searchbar {
    border: none;
    background: #2f2e22;
    padding: 6px 6px 6px 6px;
    outline: none;
    width: 1%;
    color: white;
    cursor: pointer;
}

.searchbar[type=text] {
    transition: width 0.4s ease-in-out;
    background-image: url(imagens/lupa.png);
    background-size: 25px;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.searchbar[type=text]:focus {
    width: 15%;
    border-bottom: #FAD000 solid 2px;
    cursor: text;
}

.login {
    border: solid 2px #FAD000;
    border-radius: 5px;
    background: #2f2e22;
    color: #FAD000;
    font-family: Raleway-Bold;
    font-size: 15px;
    padding: 2px 6px 2px 6px;
}

.login:hover {
    background: #FAD000;
    color: #2f2e22;
    cursor: pointer;
    transition: 0.4s;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FAD000;
    width: 200px;
    height: 220px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content label {
    font-family: Raleway-Regular;
    font-size: 14px;
}

.dropdown-content input {
    padding: 10px 6px 10px 6px;
    border: none;
    border-radius: 5px;
    background: white;
    outline: none;
    width: 94%;
    margin-top: 10px;
}

.dropdown-content input[type=password] {
    margin-top: 20px;
}

.EsqueceuSenha {
    text-decoration: underline;
    font-family: Raleway-Regular;
    font-size: 10px;
    color: black;
    cursor: pointer;
}

.dropdown-content input[type=button] {
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #2f2e22;
    font-size: 14px;
    color: #FAD000;
    font-family: Raleway-Bold;
    border-radius: 5px;
}

.dropdown-content input[type=button]:hover {
    background: #FAD000;
    font-size: 16px;
    color: #2f2e22;
    border: #2f2e22 solid 2px;
    border-radius: 5px;
    transition: 0.4s;
}

.cadastro {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Raleway-Regular;
    font-size: 13px;
    text-align: center;
    border-top: #2f2e22 1px solid;
    padding-left: 5px;
    padding-right: 5px;
}

.cadastro span {
    cursor: pointer;
    text-decoration: underline;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

main {
    background: black;
}

.texto-principal {
    font-size: 40px;
    font-family: Raleway-Regular;
    text-align: center;
    padding: 100px 200px;
    background: #FAD000;
}

.series {
    color: white;
    font-size: 25px;
    font-family: Raleway-Bold;
    margin: 30px 200px;
}

.series:hover {
    cursor: pointer;
    color: #FAD000;
    transition: 0.4s;
}

.container-series {
    width: 100%;
}

.series-todas {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.series-todas .serie img {
    width: 210px;
    height: 315px;
    border: white solid 5px;
    border-radius: 5px;
    margin: 17px 17px;
    cursor: pointer;
}

.series-todas .serie img:hover {
    border: #FAD000 solid 5px;
    transition: 0.5s;
}

.filmes {
    color: white;
    font-size: 25px;
    font-family: Raleway-Bold;
    margin: 30px 200px;
    background: black;
}

.filmes:hover {
    cursor: pointer;
    color: #FAD000;
    transition: 0.4s;
}

.container-filmes {
    width: 100%;
}

.filmes-todos {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.filmes-todos .filme img {
    width: 210px;
    height: 315px;
    border: white solid 5px;
    border-radius: 5px;
    margin: 17px 17px;
    cursor: pointer;
}

.filmes-todos .filme img:nth-child(4n+1) {
    margin-left: 21px;
}

.filmes-todos .filme img:hover {
    border: #FAD000 solid 5px;
    transition: 0.5s;
}

.rodape {
    background: #2f2e22;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
}

.rodape-social-media {
    display: flex;
    justify-content: center;
}

.rodape .rodape-social-media .social img {
    width: 32px;
    margin-left: 20px;
    margin-bottom: 8px;
}

.copyright {
    color: #FAD000;
    text-align: center;
    font-size: 12px;
    font-family: Raleway-Regular;
}

/*parte mobile*/
@media (max-width: 780px) {
    .cabecalho-principal {
        padding: 50px 25px;
        flex-direction: column;
        align-items: flex-start;
    }
    .Logo {
        margin-bottom: 25px;
    }
    .Logo a .Resilia {
        font-size: 25px;
    }
    .Logo .flix {
        font-size: 27px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .box {
        text-align: center;
        padding: 6px 6px;
        margin: 10px 0 0;
    }

    .quarta {
        margin-bottom: 20px;
    }
    .searchbar[type="text"] {
        position: absolute;
        right: 26px;
        background-size: 29px;
    }
    .texto-principal {
        font-size: 20px;
        padding: 40px 40px;
    }
    .series {
        font-size: 20px;
        margin: 20px 50px;
    }
    .series-todas .serie img {
        width: 105px;
        height: 157px;
        margin: 5px 5px;
    }
    .filmes {
        font-size: 20px;
        margin: 20px 50px;
    }
    .filmes-todos .filme img {
        width: 105px;
        height: 157px;
        margin: 5px 5px;
    }
}